/* Color Theme Swatches in Hex */
.Humanified---Simplifying-digital-activism-1-hex { color: #3D25D9; }
.Humanified---Simplifying-digital-activism-2-hex { color: #482EF2; }
.Humanified---Simplifying-digital-activism-3-hex { color: #7663F2; }
.Humanified---Simplifying-digital-activism-4-hex { color: #178CA6; }
.Humanified---Simplifying-digital-activism-5-hex { color: #F28E13; }

/* Color Theme Swatches in RGBA */
.Humanified---Simplifying-digital-activism-1-rgba { color: rgba(60, 36, 216, 1); }
.Humanified---Simplifying-digital-activism-2-rgba { color: rgba(72, 46, 242, 1); }
.Humanified---Simplifying-digital-activism-3-rgba { color: rgba(118, 99, 242, 1); }
.Humanified---Simplifying-digital-activism-4-rgba { color: rgba(23, 139, 165, 1); }
.Humanified---Simplifying-digital-activism-5-rgba { color: rgba(242, 141, 19, 1); }

/* Color Theme Swatches in HSLA */
.Humanified---Simplifying-digital-activism-1-hsla { color: hsla(247, 70, 49, 1); }
.Humanified---Simplifying-digital-activism-2-hsla { color: hsla(247, 88, 56, 1); }
.Humanified---Simplifying-digital-activism-3-hsla { color: hsla(247, 84, 66, 1); }
.Humanified---Simplifying-digital-activism-4-hsla { color: hsla(191, 75, 37, 1); }
.Humanified---Simplifying-digital-activism-5-hsla { color: hsla(33, 89, 51, 1); }