@charset "utf-8";
body{
    font-family: 'Roboto',,sans-serif;
    background-color: #ebecee;
    }
}
#wrap{
    width:1280px;
    margin:0 auto;
}
/* 1.header */
header{
    text-align: center;
    margin-bottom:36px;
}
header h1{
    font-size: 52px;
    font-size 3.25em;
    color:#b71d43;
    font-weight: bold;
}
.h_title{
    font-size:12px;
    color:#b71d43
}
.h_title2{
    font-size:18px;
    color:#4f4f51;
    margin-bottom:24px;
}

/* 각 section 공통css */
section{
    color:#3d3d3f;
    line-height:2;
    margin-bottom: 80px;
}
section h2{
    font-size:18px;
    font-weight: 700;
    color:#b71d43;
    border-bottom:1px solid #d1d2f4;
    padding-bottom: 14px;
    margin-bottom: 22px;
}
section span{
    font-weight: 700;
}
footer{
    color: #BD1F40;
    text-align: center;
}
span{
    font-weight: 700;
}

/* 그림자 속성 */
header h1{
    text-shadow: 2px 4px 4px rgba(0,0,0,5);
    box-shadow: 0 0 4px #ccc;
}